@import url(https://fonts.googleapis.com/css?family=Lato:700);

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: url(papercssBack.jpg) #e06972;
  background-position: right 20px bottom 10px;

}
div {
  margin:  auto;
  padding-top: 100px;
  width: 320px;
}
h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  margin: 0;
  text-transform: uppercase;
}

h1.slider {
  margin-bottom: 250px;
}
span {
  opacity: 0;
  float: left;
  margin-left: -200px;
  position: absolute;

  -webkit-transition: opacity .5s, margin-left 1s; /* Safari */
  transition: opacity .5s, margin-left 1s;
}
span.active {
  margin-left: 0;
  opacity: 1;
}
span.next {
  margin-left: 100px;
}